<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="../css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <div class="header container">
    YYDS电商平台
    <p class="off active">您好！<a href="./login.html">请登录</a></p>
    <p class="on">你好！
      <span class="nickname">用户昵称</span>
      <button class="self">个人中心</button>
      <button class="logout">退出登录</button>
    </p>
  </div>
  <div class="list container"><a href="./list.html">购买商品</a></div>
  <div class="list container"><a href="./cart.html">进入购物车</a></div>
  <div class="banner container swiper">
    <div class="swiper-wrapper">
      <!-- <div class="swiper-slide"><img src="../img/no.png"></div> -->
      <!-- <div class="swiper-slide" style="background-color: skyblue;">Slide 2</div>
      <div class="swiper-slide" style="background-color: deeppink;">Slide 3</div> -->
    </div>
    <!-- 如果需要分页器 -->
    <!-- <div class="swiper-pagination"></div> -->
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <script src="../js/index.js" type="module"></script>
</body>

</html>