<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/form.css">
</head>
<body>
  <div class="header container">注册页面</div>
  <form>
    <span class="error">用户名已存在，请更换！</span>
    <label>
      用户名：&nbsp;&nbsp; <input type="text" class="username">
    </label>
    <label>
      密&nbsp;&nbsp;&nbsp;码： &nbsp;&nbsp;<input type="text" class="password">
    </label>
    <label>
      确认密码： &nbsp;&nbsp;<input type="text" class="rpassword">
    </label>
    <label>
      邮&nbsp;&nbsp;&nbsp;箱：&nbsp;&nbsp; <input type="text" class="email">
    </label>
    <p>已有账号，<a href="./login.html">直接登录</a></p>
    <button>注册</button>
  </form>
  <script src="../js/register.js" type="module"></script>
</body>
</html>